*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
#centre{
    width: 70%;
    height: 80%;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}
#top{
    width: 100%;
    height: 10%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
}
#bottom{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap; /*The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines. */
    padding: 60px 40px;
   
    
}
 #bubble{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    
    margin-left: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    color: white;
}
#sqr{
    height: 100%;
    width: 150px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: gilroy;
}
#sqr .cout{
    height: 85%;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 1, 1);
    font-weight: 700;
    font-size: 20px;
    background-color: white
    
}
#h1{
    font-family: gilroy;
    font-size: 50px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
@media(max-width:500px){
    #centre{
        height: 95%;
        width: 95%;
    }
    #sqr .cout{
        height: 70%;
        border-radius: 5px;
        width:30px ;
        
    }
    #sqr{
        position: relative;
        right: 50%;
    }
    #bubble{
        height: 30px;
        width: 30px;
        font-size: 10px;
        position: relative;
        bottom: 70px;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    #bottom{
        padding: 80px 40px;
        display: flex;
        align-items: center;
    justify-content: center;
    }
   
}
